<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GAUsername" value=""/><!--Google Analytics Account User Name-->
    <add key="GAPassword" value=""/><!--Google Analytics Account Password-->
    <add key="Site1TableId" value=""/><!--site 1's GA Table Id-->
    <add key="Site2TableId" value=""/><!--site 2's GA Table Id-->
    <add key="StartDate" value=""/><!--Report Start Date (default is one week before yesterday)-->
    <add key="EndDate" value=""/><!--Report End Date (default is yesterday)-->
    <add key="StyleSheetPath" value="..\..\Resources\screen.css"/><!--CSS File Path For the HTML Report-->
    <add key="OutputFolderPath" value="D:\"/><!--Output Path For the Report-->
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\Report.log" /><!--Trace Log File Path-->
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>